<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div>
          <div class="flex items-baseline space-x-4">
            <%= navbar_link "Dashboard", root_path %>
            <%= navbar_link "Events", events_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
